body {
    background-color: #d3d3d3; /* Warna latar belakang abu-abu */
    padding-top: 20px;
}

.section {
    background-color: white; /* Latar belakang putih untuk setiap bagian */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f9fa;
}
